{% from "_formhelpers.html" import render_field %}
{% extends 'base.html' %}
{% block content %}
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-50 p-b-90">
				<span class="login100-form-title p-b-51">
					Welcome!!<br>
				</span>
        <form method="post">
          {{ form.csrf_token }}
          <dl class ="form-box">
            {{ render_field(form.text_field) }}
            {{ render_field(form.date_field_1) }}
            {{ render_field(form.date_field_2) }}
          </dl>
          <p><input class="login100-form-btn" type=submit value="Generate Monthly Report">
        </form>
				<div class="container-login100-form-btn m-t-17">
					<button class="login100-form-btn">
						<a class="login100-form-btn" href="/logout">Logout</a>
					</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
